body {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 20rem;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#mainCanvas {
  position: relative;
  width: 100%;
  height: 100vh;
}

#controlPanel {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-left: 1px solid #0002;
  box-sizing: border-box;
  box-shadow: 0 0 5px #0005;
}

.controlPanelSection {
  margin-top: 1rem;
}
